<div class="main-content">
    <article class="widget">
        <form class="weatherLocation" action="/weather" method="POST">
            <label for="cityName"></label>
            <input placeholder="location..." type="text" id="input" name="cityName" />
            <button type="submit" id="getWeather" value="cityName">Search</button>
        </form>

        {{#if cityData}}

        <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
        <div class="weatherInfo">
            <div class="temperature"><span>{{{cityData.temperature}}}</span></div>
            <div class="description">
                <div class="weatherCondition">
                    <span>{{{cityData.description}}}</span>
                </div>
                <div class="place"><span>{{{cityData.cityName}}}</span></div>
            </div>
        </div>
        <div class="date">
            <h4>{{{cityData.currentTime}}}</h4>
        </div>
        {{/if}}

        {{#if error}}

        <h3>{{{error}}}</h3>

        {{/if}}


    </article>
</div>
<script>
    const description = document.querySelectorAll(".temperature,span")
    description.textContent = cityData.main.temp
    console.log(description)
</script>